<head>
	<link 
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device.width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<tittle> <h3>Gauss-Seidel</h3> </tittle>
</head>

Realiza el metodo de Gauss-Seidel para sistemas Ax=b utilizando la matriz A y el vector B, mientras A sea estrictamente diagonal dominante<br><br>
Para ingresar la matriz A, introduce los valores de las filas separados por espacios, y separa las columnas con # <br> 
Por ejemplo: 1 34 2 # 8 5 2 # 1 2 3 <br>
Da como resultado la matriz: <br>
([1, 34, 2],<br>
  [8, 5, 2],<br>
  [1, 2, 3])<br> <br>
Para introducir el vector B lo hacemos en modo de columna, es decir: 1 # 2 # 3<br>
([1],<br>
[2],<br>
[3])<br><br>
El vector x0, se introduce unicamente con espacios: 0 0 0<br><br>

<body>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<label>Matriz A</label>
	<input type="text" name="txtA" id="txtA"> <br>

	<label>Vector B (En Columna)</label>
	<input type="text" name="txtB" id="txtB"> <br>

	<label>vector x0 (Puede ser 0 0 0)</label>
	<input type="text" name="txtX0" id="txtX0"> <br><br>

	<label>Tolerancia</label>
	<input type="text" name="txtTOL" id="txtTOL"> <br><br>

	<label>Numero de Iteraciones</label>
	<input type="number" name="txtITER" id="txtITER"> <br><br>

	<input type="submit" value="Ejecutar">

    <a href='/methods' class="btn btn-primary">
    Volver
	</a>
</form>

    Solucion aproximada en {{ iterActual }} Iteraciones con un error de: ({{ error }})<br><br>(x1,x2,x3...xn)<br>
	{%for dato in X%}
		[{{ dato }}] &nbsp;
	{% endfor %}
	<br><br>
	{%for dato in tabla%}
		[{{ dato }}] &nbsp;<br>
	{% endfor %}
</body>
</html>